#header-bar, #offcanvas-header {
    background-color: #354f52;
    border-bottom: #2f3e46 5px solid;
}

#header-logo {
    align-self: center;
    text-decoration: none;
}

.header-btns {
    width: 42px;
    height: 42px;
}

#profile-wrapper, #about-me-section {
    background-color: #FFFCF2;
}

#profile-wrapper {
	overflow: hidden;
	background-image: url("../img/photography/profile-bg.jpg");
	background-size: cover;
}

#profile-section {
    background-color: #CAD2C5;
}

#profile-pic {
    width: 200px;
    height: 200px;
}