body {
	background-image: url("../img/photography/profile-bg.jpg");
	background-size: cover;
	background-position: center;
	background-position-y: center;
	background-attachment: fixed;
}

#content {
	background-color: rgba(255, 252, 242, 0);
	transition: all 0.25s ease;
}

#header-bar,
#offcanvas-header {
	background-color: #151514;
}

#header-bar {
	margin-top: 0;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

#header-logo {
	align-self: center;
	text-decoration: none;
}

.header-btns {
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
	width: 42px;
	height: 42px;
}

#profile-wrapper,
#about-wrapper {
	transition: all 0.25s ease;
}

#profile-section {
	max-height: inherit;
	margin-top: 65px;
}

@media screen and (orientation:landscape) {

	#profile-section,
	#about-section {
		max-width: 75% !important;
	}
}

@media screen and (orientation:portrait) {

	#profile-section,
	#about-section {
		max-width: 100% !important;
	}
}

#profile-pic {
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.75);
}

#profile-text {
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.75);
}

#about-text {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
	padding: 4px;
}

#skills-section {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
	padding: 4px;
}

.offcanvas-link {
	transition: all 0.15s ease;
}

.offcanvas-link:hover {
	background-color: black !important;
	border-bottom-color: white !important;
}

.offcanvas-link:hover>div {
	color: white;
}

#offcanvas-body {
	background-color: #CCC5B9;
}

#about-wrapper {
	overflow: hidden;
}

#about-section {
	max-height: inherit;
	margin-top: 65px;
}

.skill-icon {
	font-size: 60px;
	margin: 8px;
	padding: 8px;
	border: white 1px solid;
	border-radius: 10%;
	background-color: black;
	transition: all 0.15s ease;
}

.skill-icon:hover {
	border: black 1px solid;
	background-color: white;
	color: black !important;
}
