#header-bar, #offcanvas-header {
    background-color: #354f52;
    border-bottom: #2f3e46 5px solid;
}

#header-logo {
    align-self: center;
    text-decoration: none;
}

.header-btns {
    background-color: #CAD2C5 !important;
    width: 42px;
    height: 42px;
}

.header-btns:hover {
    background-color: #b8bbb2 !important;
}
